# development | staging | production
ENVIRONMENT=development
PORT=

SERVER_ROOT=/api
SERVER_HOST=localhost
ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:3002

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

# Optional: New Relic (also install optional deps: newrelic, @newrelic/winston-enricher)
IS_MONITORING_ENABLED=false
NEW_RELIC_LICENSE_KEY=
